{% load static %}<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"> 
    <div class="scrollbar"> 
        <div class="sidenav-header align-items-center"> 
            <a class="navbar-brand" href="javascript:void(0)"> Biolight Labs </a> 
        </div>
        <div class="navbar-inner"> 
            <div class="collapse navbar-collapse" id="sidenav-collapse-main"> 

                <hr class="my-3"> 
                <!-- Smart over -->
                <h6 class="navbar-heading p-0 text-muted"> 
                    <span class="docs-normal">Smart Over</span> 
                </h6> 
                <ul class="navbar-nav mb-md-3"> <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'tasks_page_user' %}"> 
                        <i class="fas fa-list-check"></i>
                        <span class="nav-link-text">Tasks/Create Task</span> 
                    </a> </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href="{% url 'closed_task_page' %}"> 
                            <i class="ni ni-collection"></i> 
                            <span class="nav-link-text">Completed Tasks</span> 
                        </a> 
                    </li>
                </ul> 
                <!-- Smart over -->
                
                <hr class="my-3"> 
                <h6 class="navbar-heading p-0 text-muted"> 
                    <span class="docs-normal">Expenses</span> 
                </h6> 
                <ul class="navbar-nav mb-md-3"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="{% url 'expense_user' %}"> 
                            <i class="ni ni-money-coins"></i> 
                            <span class="nav-link-text">Expense</span> 
                        </a> 
                    </li>
                </ul> 
                    <hr class="my-3"> 
                    <h6 class="navbar-heading p-0 text-muted"> 
                        <span class="docs-normal">Income</span> 
                    </h6> 
                    <ul class="navbar-nav mb-md-3"> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="{% url 'income_user' %}"> 
                                <i class="ni ni-money-coins"></i> 
                                <span class="nav-link-text">Income</span> 
                            </a> 
                        </li>

                    </ul>
                    <hr class="my-3">  
                    <!-- Dues -->
                    <ul class="navbar-nav mb-md-3"> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="{% url 'due_user' %}"> 
                                <i class="ni ni-money-coins"></i> 
                                <span class="nav-link-text">Dues</span> 
                            </a> 
                        </li>
                    </ul> 
                    <!-- Dues -->
                    <hr class="my-3">  
                    <h6 class="navbar-heading p-0 text-muted"> 
                        <span class="docs-normal">Account</span> 
                    </h6> 
                    <ul class="navbar-nav mb-md-3"> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="{% url 'user_profile' %}"> 
                                <i class="ni ni-single-02"></i> 
                                <span class="nav-link-text">Profile</span> 
                            </a> 
                        </li>

                        <li class="nav-item"> 
                            <a onclick="document.getElementById('formnew').submit()" style="cursor: pointer" class="nav-link"> 
                                <i class="ni ni-user-run"></i> 
                                <span class="nav-link-text">Logout</span> 
                            </a> 
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </nav>