{% extends "base.html" %}
{% load static %}
{% block title_main %}Tasks{% endblock %}
{% block body_main %}
<link rel="stylesheet" href="{% static 'css/arrow.css' %}" type="text/css">
    {% include "partials/_sidebar_main.html" %}
  <div class="main-content" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6">
      <div class="mr-5 ml-5"><div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div></div>
      <div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4">
        <div class="col-lg-5 col-6">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'tasks_page' %}">Task</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">View</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-3 text-right ml--5 mr-5">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span style="border-end-start-radius: 50%; border-start-start-radius: 50%;" class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input class="form-control" id ="searchField" placeholder="Search" type="text">
            <div class="input-group-append">
              <span style="border-end-end-radius: 50%; border-start-end-radius: 50%;"  class="input-group-text"></span>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-right ml--4">
          <a href="{% url 'create_task' %}" class="btn btn btn-neutral">Create Task</a>
        </div>
      </div>
      <hr class="mt--2"/>
      <div class="row align-items-center py-4">
        <div class="col mt--5 ml-5">
          <form method="GET" class="form-inline ml-5" action="{% url 'tasks_page' %}">
            <div class="form-group">
              <span class="text-white ml-5">From: <input class="ml-1 form-control form-control-sm col-md-8" id="date_from" name="date_from" type="date" value="{{ filter_context.date_from }}" /></span>
            </div>
            <div class="form-group">
              <span class="text-white ml-5">To: <input class="ml-1 form-control form-control-sm col-md-9" id="date_to" name="date_to" value="{{ filter_context.date_to }}" type="date" /></span>
            </div>
            <div class="ml-5">
              <span class="ml-5">
                <button class="ml-5 mr-3 btn btn-success btn-sm">Filter</button>
              </span></div><button onclick="clearFilters()" class="mr-5 ml-2 btn btn-danger btn-sm">Clear</button>
            </form>
          </div>
        </div>
        <hr class="mt--2"/>
      </div>
    </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  {% if tasks %}
                    <h5 class="h3 text-white mb-0 text-center">My Tasks - <span id="expense_count">{{ tasks.count }}</span></h5>
                    <div class="app-table mt-5">
                      <table id="table-complete" class="table text-white">
                        <thead>
                          <tr>
                          <th style="font-size: small;">Created By</th>
                          <th style="font-size: small;">Task</th>
                          <th style="font-size: small;">Priority</th>
                          <th style="font-size: small;">Created_at </th>
                          <th style="font-size: small;">Closed_at </th>
                          <th style="font-size: small;">Closed By </th>
                          <th style="font-size: small;">Remarks </th>
                          <th style="font-size: small;">Action</th>        
                          </tr>
                        </thead>
                        <tbody id="table-body-data" >
                          {% for task in page_tasks %}
                          <tr>
                            <td>{{task.created_by.username}}</td>
                            <td>{{task.description | truncatechars:30 }}</td>
                            {% if task.priority == 1 %}
                            <td>Low</td>
                            {% endif %}
                            {% if task.priority == 2 %}
                            <td>Medium</td>
                            {% endif %}
                            {% if task.priority == 3 %}
                            <td>High</td>
                            {% endif %}
                            {% if task.priority == 4 %}
                            <td>Critical</td>
                            {% endif %}
                            <td>{{task.date}}</td>
                            <td>{{task.closing_date}}</td>
                            <td>{{task.closed_by.username}}</td>
                            <td>{{task.remarks}}</td>
                            <td>
                              <div class="dropdown ms-auto">
                                <!-- Open button -->
                                <i class="fas fa-ellipsis-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a href="{% url 'view_task' task.id %}" >
                                      <span class="dropdown-item">
                                        <i class="fas fa-eye mx-2"></i> View
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="{% url 'delete_task' task.id %}" >
                                      <span class="dropdown-item">
                                        <i class="fas fa-trash mx-2"></i> Delete Task
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  {% else %}<h5 class="h3 text-white mb-0 text-center">No Tasks. Create <a href="{% url 'create_task' %}">one</a></h5>{% endif %}
                  <h5 style="display: none;" id="no-results" class="h3 text-danger mt-5 mb-0 text-center">No Tasks found for searched item.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container">
            <div class="row">
              <div class="col-md-6">
                <p></p>
                <span class="text-white">Showing page {{page_tasks.number}} of {{ page_tasks.paginator.num_pages }}</span>
              </div>
              <div class="col-md-6">
                <ul class="pagination align-right float-right mr-auto">              
                  {% if page_tasks.has_previous %}
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page=1">First</a>
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_tasks.previous_page_number }}">Previous</a>
                  {% endif %}
                  {% for num in page_tasks.paginator.page_range %}
                      {% if page_tasks.number == num %}
                        <a class="btn btn-default mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
                      {% elif num > page_tasks.number|add:'-2' and num < page_tasks.number|add:'2' %}
                        <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
                      {% endif %}
                  {% endfor %}
                  {% if page_tasks.has_next %}
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_tasks.next_page_number }}">Next</a>
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_tasks.paginator.num_pages }}">Last</a>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/expense_search.js' %}"></script>
  <form method="GET" id="amount_up_form" action="{% url 'expense_page_sort' %}">
    <input hidden name="amount_sort" value="2"></input>
  </form>
  <form method="GET" id="amount_down_form" action="{% url 'expense_page_sort' %}">
    <input hidden name="amount_sort" value="1"></input>
  </form>
  <form method="GET" id="date_up_form" action="{% url 'expense_page_sort' %}">
    <input hidden name="date_sort" value="2"></input>
  </form>
  <form method="GET" id="date_down_form" action="{% url 'expense_page_sort' %}">
    <input hidden name="date_sort" value="1"></input>
  </form>
  <script src="{% static 'js/sorting.js' %}"></script>
{% endblock %}
