{% extends "base.html" %}
{% block title_main %}View Task{% endblock %}
{% block body_main %}
    {% include "partials/_sidebar_main_user.html" %}
    <div class="main-content bg-primary" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6">
        <div class="mr-5 ml-5">
            <div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div>
        </div>
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'user_dashboard' %}">
                                        <i class="fas fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'tasks_page_user' %}">Task</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">View Task</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col mr-5 ml-5">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <h5 class="h3 mb-0 text-center">Task View</h5>
                  <form action="{% url 'view_task' task.id %}" method="GET">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Description</label>
                        <input class="form-control form-control-sm" type = "text" name="description" value = "{{ values.description }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">Priority</label>
                        {% if values.priority == 1 %}
                        <input class="form-control form-control-sm" type = "text" name="priority" value = "Low" readonly >
                        {% endif %}
                        {% if values.priority == 2 %}
                        <input class="form-control form-control-sm" type = "text" name="priority" value = "Medium" readonly >
                        {% endif %}
                        {% if values.priority == 3 %}
                        <input class="form-control form-control-sm" type = "text" name="priority" value = "High" readonly >
                        {% endif %}
                        {% if values.priority == 4 %}
                        <input class="form-control form-control-sm" type = "text" name="priority" value = "Critical" readonly >
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="">Remarks</label>
                      <input class="form-control form-control-sm" type = "text" name="remarks" value = "{{ values.remarks }}" readonly >
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}