{% extends "base.html" %}
{% load static %}
{% block login_style %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}
{% block body_main %}


        <header>
            <div id = "center_content">
                <img src = "{% static 'img/logo.jpg' %}" height = "9%" align = "Left" width = "9%" style = "border-radius:60%; position:200px,800px; float : Left;"/>
                <h1 align = "Center" style = "margin: 0;">Biolight Laboratories & Diagnostic Centre</h1>
                <p align = "Center">
                    <small>Because We Value Life</small>
                </p>
            </div>
        </header>

        {% block body_main_content %}
        {% endblock %}

        <footer><!--id = "StickyFooter"-->
            <p align = "Center"><small>© Copyright 2019, All rights to this website are reserved</br>
            Red Crescent Medical Centre & Consultants Clinic, Jigar Murad Abadi Road, Near Islamia College, Karachi</br>
            Contact: 021-34894616, lab.biolight@gmail.com</small>
            </p>
        </footer>

    <!-- </div> -->



{% endblock %}
