{% extends "base.html" %}
{% load static %}
{% block title_main %}Dues App{% endblock %}
{% block body_main %}
    {% include "partials/_sidebar_main_user.html" %}
  <div class="main-content" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6">
      <div class="mr-5 ml-5"><div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div></div>
      <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-5 col-6">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'due' %}">Due</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">View</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-3 text-right ml--5 mr-5">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span style="border-end-start-radius: 50%; border-start-start-radius: 50%;" class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input class="form-control" id ="searchField" placeholder="Search" type="text">
                        <div class="input-group-append">
                            <span style="border-end-end-radius: 50%; border-start-end-radius: 50%;"  class="input-group-text"></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-2 text-right ml-3 mr--3">
                    <a href="{% url 'import_income' %}" class="btn btn btn-neutral">Import</a> 
                </div> -->
                {% comment %} <div class="col-md-2 text-right ml--4">
                    <a href="{% url 'add_due' %}" class="btn btn btn-neutral">Create New</a>
                </div> {% endcomment %}
            </div>
            <hr class="mt--2"/>
            <div class="row align-items-center py-4">
                <div class="col mt--5 ml-5">

                    </div>
                  </div>
                  <hr class="mt--2"/></div>
                </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  {% if dues %}
                    <h5 class="h3 text-white mb-0 text-center">My Dues - <span id="dues_count">{{ dues.count }}</span></h5>
                    <div class="app-table mt-5">
                      <table id="table-complete" class="table text-white">
                        <thead>
                          <tr>
                            <th style="font-size: small;">
                              <span class="row">Amount ({{currency}}) 
                                <span class="col">

                                </span> 
                              </span>
                            </th>
                            <th style="font-size: small;">Source</th>
                            <th style="font-size: small;">Description</th>
                            <th style="font-size: small;">Date/Time </th>
                            <th style="font-size: small;">Created By </th>
                            <th style="font-size: small;">Received </th>
                            <th style="font-size: small;">Action</th>
                          </tr>
                        </thead>
                        <tbody id="table-body-data">
                          {% for due in page_dues %}
                          <tr>
                            <td>{{due.amount}}</td>
                            <td>{{due.source.source.source  }}</td>
                            <td>{{due.description | truncatechars:30 }}</td>
                            <td>{{due.created_at}}</td>
                            <td>{{due.source.created_by}}</td>
                            <td>{{due.received_at}}</td>

                            {% if due.received_at == None %}
                            <td>
                              <div class="dropdown ms-auto">
                                <i class="fas fa-ellipsis-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a href="{% url 'due_received' due.id %}">                                      
                                      <span class="dropdown-item">
                                        <i class="fas fa-money-bill"></i> Received
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                            {% else %}
                            <td>
                              <div class="dropdown ms-auto">
                                <i class="fas fa-ellipsis-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a href="{% url 'view_due' due.id %}">                                      
                                      <span class="dropdown-item">
                                        <i class="fas fa-eye"></i> View
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                          <!-- Added -->
                          <td id="page-total" class="page-total-style" >{{page_total}}</td> 
                          <td class="page-total-style" >Page Total</td>
                        </tbody>
                      </table>
                    </div>
                  {% else %}<h5 class="h3 text-white mb-0 text-center">No dues. Create <a href="{% url 'add_due' %}">one</a></h5>{% endif %}
                  <h5 style="display: none;" id="no-results" class="h3 text-danger mt-5 mb-0 text-center">No dues found for searched item.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-container">
            <div class="row">
              <div class="col-md-6"><p></p><span class="text-white">Showing page {{page_dues.number}} of {{ page_dues.paginator.num_pages }}</span></div>
              <div class="col-md-6">
                <ul class="pagination align-right float-right mr-auto">              
                  {% if page_dues.has_previous %}
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page=1">First</a>
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_dues.previous_page_number }}">Previous</a>
                  {% endif %}
                  {% for num in page_dues.paginator.page_range %}
                      {% if page_dues.number == num %}
                        <a class="btn btn-default mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
                      {% elif num > page_dues.number|add:'-2' and num < page_dues.number|add:'2' %}
                        <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
                      {% endif %}
                  {% endfor %}
                  {% if page_dues.has_next %}
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_dues.next_page_number }}">Next</a>
                    <a class="btn btn-outline-default mb-4" href="{{base_url}}page={{ page_dues.paginator.num_pages }}">Last</a>
                  {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Searching -->
  <script>
    // For page total
    ele = document.getElementById("page-total")
    total = parseFloat(ele.innerHTML).toFixed(2)
    ele.innerHTML = total
    const searchField = document.querySelector("#searchField");
    const paginationContainer = document.querySelector(".pagination-container");
    const dues_count = document.getElementById("dues_count");
    let due_count_initial = dues_count.innerHTML;
    const tbody = document.querySelector("#table-body-data");
    let due_list = tbody.innerHTML;
    const no_results = document.getElementById("no-results");
    searchField.addEventListener("keyup", (e) => {
      const delay = setTimeout(() => {
        searchFunction(e);
      }, 500);
      return () => clearTimeout(delay);
    });
    const searchFunction = (e) => {
      const searchValue = e.target.value;
      no_results.style.display = "none";
      if (searchValue.trim().length > 0) {
        paginationContainer.style.display = "none";
        tbody.innerHTML = "";
        console.log("Items fetched");
        fetch("/due/search", {
          body: JSON.stringify({ search_query: searchValue }),
          method: "POST",
          credentials: "same-origin",
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            dues_count.innerHTML = data.length;
            if (data.length === 0) {
              no_results.style.display = "block";
            } else {
              no_results.style.display = "none";
              tbody.innerHTML = "";
              data.forEach((item) => {
                tbody.innerHTML += `
                    <tr>
                    <td>${item.amount}</td>
                    <td>${item.source}</td>
                    <td>${
                      item.description.length > 30
                        ? item.description.substring(0, 29) + "..."
                        : item.description
                    }</td>
                    <td>${item.created_at}</td>
                    <td>${item.created_by}</td>
                    <td>${item.received_at}</td>
                    <td>

                    <div class="dropdown ms-auto">
                    <i class="fas fa-ellipsis-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/due/edit-due/${item.id}" >
                          <span class="dropdown-item">
                            <i class="fas fa-pen mx-2"></i> Edit
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="/due/due-received/${item.id}">                                      
                          <span class="dropdown-item">
                              <i class="fas fa-print mx-2"></i> Received
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>

                    </td>
                    </tr>`;
              });
            }
          });
      } else {
        paginationContainer.style.display = "block";
        tbody.innerHTML = due_list;
        dues_count.innerHTML = due_count_initial;
      }
    };
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>
{% endblock %}
